* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

.block {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.block_1 {
    width: 100px;
    height: 100px;
    border: 4px solid black;
}

html, body {
    width: 100%;
    height: 100%;
}

.block1 {
    display: flex;
    width: 50%;
    height: 40%;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    border: 4px solid black;
    align-content: center;
    grid-gap: 36px;
    margin: auto;
}

.block_2 {
    height:150px;
    width:170px;
    border: 4px solid rgb(255, 0, 0);
} 

.block_3 {
    width: 170px;
    height: 150px;
    border: 4px solid black;
} 

html, body {
    width: 100%;
    height: 100%;
}

.block2 {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    grid-gap: 36px;
}

.block_4 {
    width: 170px;
    height: 200px;
    border: 4px solid rgb(255, 0, 0);
}

.block_5 {
    width: 170px;
    height: 200px;
    border: 4px solid rgb(0, 204, 255);
}

.block_6 {
    width: 170px;
    height: 200px;
    border: 4px solid black;
}

.block3 {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    grid-gap: 36px;
}

.block_7 {
    width: 350px;
    height: 50px;
    border: 4px solid rgb(255, 0, 0);
}

.block_8 {
    width: 350px;
    height: 200px;
    border: 4px solid rgb(0, 204, 255);
}

.block_9 {
    width: 350px;
    height: 70px;
    border: 4px solid black;
    background: black;
}

.block4 {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    grid-gap: 36px;
}

.block5 {
    display: flex;
    width: 100%;
    height: 20%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    grid-gap: 36px;
}

.block_10 {
    width: 70px;
    height: 170px;
    border: 4px solid rgb(255, 0, 0);
}

.block_11 {
    width: 250px;
    height: 170px;
    border: 4px solid rgb(255, 0, 234);
}

.block_12 {
    width: 350px;
    height: 110px;
    border: 4px solid rgb(0, 204, 255);
}

.block_13 {
    width: 350px;
    height: 70px;
    border: 4px solid black;
    background: black;
}

.block6 {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    grid-gap: 36px;
}

.block7 {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-end;
    grid-gap: 36px;
}

.block_14 {
    width: 200px;
    height: 70px;
    border: 4px solid rgb(255, 0, 0);
}

.block_15 {
    width: 200px;
    height: 70px;
    border: 4px solid rgb(255, 0, 234);
}

.block_16 {
    width: 200px;
    height: 70px;
    border: 4px solid rgb(0, 204, 255);
}

.block_17 {
    width: 300px;
    height: 70px;
    border: 4px solid black;
    background: black;
}

.block8 {
    display: flex;
    width: 20%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    grid-gap: 36px;
    flex-wrap: wrap;
    justify-content: center;
}

.block_18 {
width: 70px;
height: 280px;
border: 4px solid rgb(9, 255, 0);
margin-bottom: 120px;
}